Makefile
compile_commands.json
.clang-format
.ycm_extra_conf.py
*.sh
*.autosave
samples/kitti/**
test/data/**
output/**
results/**
cmake_install.cmake
CMakeLists.txt.user
bin/**
thirdparty/Sophus/build/**
