Makefile
compile_commands.json
.ycm_extra_conf.py
*.sh
*.autosave
samples/kitti/**
test/data/**
output/**
results/**
cmake_install.cmake
CMakeLists.txt.user
bin/**
thirdparty/Sophus/build/**
**/__pycache__/**

## LaTeX, latexmk
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.bbl
*.cpc
*.nav
*.out
*.snm
*.toc
